# ansible-config list to check all option available
[defaults]
host_key_checking                = False
inventory                       = inventories/inventory.ini
roles_path                      = roles/
vault_password_file             = ~/.vault_pass
pipelining                      = True
allow_world_readable_tmpfiles   = True
# Workaround: TASK [geerlingguy.docker : Add or remove Docker repository.] *****************************************************************************************************
# [WARNING]: Module remote_tmp /root/.ansible/tmp did not exist and was created with a mode of 0700, this may cause issues when running as another user. To avoid this, create the remote_tmp dir with the correct permissions manually
remote_tmp                      = /tmp/.ansible-${USER}/tmp
