---
# UBUNTU ROLE
auth_key_dir: "{{ vault_auth_dir_key }}"

users:
  - username: dmac
    sudo_access: true
    ssh_access: true
    ssh_pub_key: "{{ lookup('file', 'dmac.pub') }}"
    ssh_pass: "{{ vault_dmac_ssh_pass }}"
    custom_alias_file: "aliases_dmac.j2"
    custom_functions_file: "functions_dmac.j2"
  - username: svmt
    sudo_access: true
    ssh_access: true
    ssh_pub_key: "{{ lookup('file', 'svmt.pub') }}"
    ssh_pass: "{{ vault_svmt_ssh_pass }}"
    custom_alias_file: "aliases_svmt.j2"
    custom_functions_file: "functions_svmt.j2"

apt_packages:
  - neovim
  - whois
  - sshpass
  - nmap
  - bat
  - ripgrep
  - zoxide
  - jq
  - nala
  - fzf
  - tldr
  - duf
  - snapd

snap_packages:
  - name: spt
    classic: true
    version: "latest/stable"

# ZEROTIER ROLE
zerotier_api_accesstoken: "{{ vault_zerotier_api_accesstoken }}"
zerotier_api_url: "https://api.zerotier.com/api/v1"
zerotier_network_id: "83048a0632608eee"

# ZSH ROLE
zsh_users:
  - username: dmac
    oh_my_zsh:
      # theme: robbyrussell
      theme: "powerlevel10k/powerlevel10k"
      plugins:
        - git
      update_mode: auto
      update_frequency: 5
      write_zshrc: true

zsh_p10k_users:
  - dmac

zsh_plugins:
  - "zsh-autosuggestions"
  - "zsh-fast-syntax-highlighting"
  - "fzf-tab"
  - "zsh-completions"

zsh_plugins_path: "{{ item.username }}/.oh-my-zsh/custom/plugins"

# Docker Role
docker_edition: 'ce'
docker_packages:
  - "docker-{{ docker_edition }}"
  - "docker-{{ docker_edition }}-cli"
  - "docker-{{ docker_edition }}-rootless-extras"
  - "containerd.io"
  - docker-buildx-plugin
docker_packages_state: present
docker_obsolete_packages:
  - docker
  - docker.io
  - docker-engine
  - docker-doc
  - docker-compose
  - docker-compose-v2
  - podman-docker
  - containerd
  - runc

# Docker Compose Plugin options.
docker_install_compose_plugin: true
docker_compose_package: docker-compose-plugin
docker_compose_package_state: present

# Docker Compose options.
docker_install_compose: false # Prevents legacy binary
docker_compose_version: "v2.40.3" # Latest as of 11/2025
docker_compose_path: /usr/local/bin/docker-compose

# A list of users who will be added to the docker group.
docker_users:
  - dmac
  - svmt