---
- name: "AUTHORIZING -  Node on Zerotier Network: {{ zerotier_network_id }}"
  when:
    - not ansible_check_mode
  tags:
    - configuration
  become: false
  block:
    - name: "AUTHORIZING NODE on Network ID: {{ zerotier_network_id }}"
      ansible.builtin.uri:
        # API Docs: https://docs.zerotier.com/central/v1/#tag/network-member/operation/updateNetworkMember
        url: "{{ zerotier_api_url }}/network/{{ zerotier_network_id }}/member/{{ ansible_local['zerotier']['node_id'] }}"
        method: POST
        headers:
          Authorization: bearer {{ zerotier_api_accesstoken }}
        body:
          name: "{{ inventory_hostname }}"
          description: "{{ zerotier_hosted_on }}"
          hidden: false
          config:
            authorized: "{{ zerotier_authorize_member }}"
        body_format: json
      register: zerotier_auth_apiresult
      no_log: true
      # delegate_to: "{{ zerotier_api_delegate }}"
      when:
        - ansible_local['zerotier']['networks'][zerotier_network_id] is not defined or
          ansible_local['zerotier']['networks'][zerotier_network_id]['status'] != 'OK'
