---
- name: "Including Task: install.yaml"
  ansible.builtin.include_tasks: install.yaml

- name: Writing Zerotier Node Data to Ansible Facts
  block:
    - name: "Update ansible_local facts"
      become: true
      ansible.legacy.script: set_facts.sh
      changed_when: false  # Script only reads and writes facts, doesn't change system state

    - name: "Re-gather ansible_local facts"
      ansible.legacy.setup:
        filter: ansible_local

- name: "Including Task: authorize_node.yaml"
  ansible.builtin.include_tasks: authorize_node.yaml
  when:
    - zerotier_api_accesstoken | length > 0
    - ansible_local['zerotier']['node_id'] is defined

- name: "Including Task: join_network.yaml"
  ansible.builtin.include_tasks: join_network.yaml
  when:
    - zerotier_api_accesstoken | length > 0
    - ansible_local['zerotier']['node_id'] is defined
