---
- name: "INSTALLING | snapd"
  become: true
  ansible.builtin.package:
    name: snapd
    state: present
  notify: "start snapd"

- name: "Flushing | Handlers to start snapd"
  ansible.builtin.meta: flush_handlers

- name: "WAITING | For snapd to be ready"
  become: true
  ansible.builtin.command: snap version
  register: ubuntu_snap_version_check
  until: ubuntu_snap_version_check.rc == 0
  retries: 10
  delay: 3
  environment:
    PATH: "{{ ansible_env.PATH }}:/snap/bin"

- name: "WAITING | For any existing snap operations to complete"
  become: true
  ansible.builtin.command: snap changes
  register: ubuntu_snap_changes
  until: ubuntu_snap_changes.stdout.find('Doing') == -1 and ubuntu_snap_changes.stdout.find('Undoing') == -1
  retries: 20
  delay: 5
  environment:
    PATH: "{{ ansible_env.PATH }}:/snap/bin"

- name: "INSTALLING - SNAP Packages"
  become: true
  community.general.snap:
    name: "{{ item.name }}"
    state: present
    classic: "{{ item.classic }}"
    channel: "{{ item.version }}"
  loop: "{{ snap_packages }}"
  loop_control:
    label: "Install SNAP Package: {{ item }}"
  environment:
    PATH: "{{ ansible_env.PATH }}:/snap/bin"
  async: 1800  # 30 minutes timeout - SNAP Takes ages on installs
  poll: 10     # Check every 10 seconds
