---
- name: "HANDLER - Restart the SSH Service"
  become: true
  ansible.builtin.service:
    name: ssh
    state: restarted
  listen: "restart sshd"

- name: "HANDLER - Enable and start snapd service"
  become: true
  ansible.builtin.service:
    name: snapd
    state: started
    enabled: true
  listen: "start snapd"
