# {{ ansible_managed }}
alias cat="batcat"
alias l="lsd -lahF"
alias fd="fdfind"
alias df="duf"
alias top="btop"
alias vim="nvim"

# GIT
alias gst="git status"
alias gp="git push"
alias grmv="git remote -v"
alias gcam="git commit -am"
alias gcm="git commit -m"
alias gco="git checkout"
alias gcob="git checkout -b"