---
- name: Configure Ubuntu Development Servers
  hosts: ubuntu_hosts
  gather_facts: true
  roles:
    - { role: ubuntu, tags: ["ubuntu"] }
    - { role: zsh, tags: ["zsh"] }
    - { role: geerlingguy.docker, tags: ["docker"], become: true }
    - { role: zerotier, tags: ["zerotier"] }
    - { role: neovim, tags: ["neovim"] }
