---
- name: Configure Ubuntu Servers
  hosts: ubuntu-hosts
  gather_facts: true
  roles:
    - {role: ubuntu, tags: ['ubuntu']}
    - {role: zerotier, tags: ['zerotier']}
    - {role: zsh, tags: ['zsh']}
    - {role: geerlingguy.docker, tags: ['docker'], become: true}
